html{
  font-size: 10px;
  width: 100%;
  background: #eee;
  font-family: 'Inter', sans-serif;
}

.plakat{
  font-size: 10px;
  width: 60em;
  height: 80em;
  background: white;
  position:relative;
  left: calc(50% - 30em);
  top: 5em;
  overflow: hidden;
}
.poster{
  font-size: 12em;
  transform: rotate(45deg);
  position: absolute;
  font-weight: 900;
}
.main{
  top: 2.7em;
  left: .5em;
  z-index:4;
  mix-blend-mode: multiply;
  opacity: 90%;
  color: blue;
}
.top{
  color: red;
  opacity: 70%;
  z-index: 5;
  top: 1.3em;
}
.bottom{
  color: yellow;
  opacity: 70%;
  z-index: 3;
  top: 3.9em;
  left:1em;
}
.t{
  font-size: 1.5em;
  font-weight: 600;
  mix-blend-mode: multiply;
  opacity: 90%;
  width: 16em;
  height:8em;
  position: absolute;
  left: 23em;
  z-index: 2;
  top: 15em;

}
.second{
  left: 5em;
  top: 25em;
  z-index: 2;
  mix-blend-mode: overlay;

}
.hey{
  font-size: 11em;
  font-weight: 900;
  color: green;
  mix-blend-mode: difference;
  z-index: 10;
  position: absolute;
  top: 4.4em;
  left: .1em;

}
.img{
  width: 30em;
  height: 80em;
  background-image: url(../img/lama.jpg);
  background-position: center;
  background-size: contain;
  opacity: 70%;
}
